---
import Shell from "../layouts/Shell.astro";
import { links } from "../data";
import type { Link } from "../data";
---

<style lang="scss">
  :root {
    @apply font-light;
  }
</style>

<Shell
  frontmatter={{
    title: "arks.moe",
    description: `a collection of resources for PSO2:NGS. not affiliated with SEGA.`,
  }}
>
  <div class="my-12 max-w-2xl mx-auto">
    <div class="text-center font-light my-12">
      <h1 class="font-black text-6xl mb-6">arks.moe</h1>
      <p>a collection of resources for PSO2:NGS</p>
      <p>intended for global players</p>
      <sub>not affiliated with SEGA</sub>
    </div>
    <ul class="flex flex-col gap-8 max-w-2xl mx-auto mb-12">
      {
        links.map((category) => (
          <li>
            <h3 class="font-bold text-2xl mb-4">{category.header}</h3>
            <ul class="flex flex-col gap-4">
              {category.links.map((link) => (
                <li class="bg-neutral hover:bg-neutral-focus text-neutral-content transition-all duration-100 hover:scale-[99%]">
                  <a class="block p-4" href={link.url} target="_blank">
                    <div class="">{link.label}</div>
                    <div class="text-sm font-extralight">{link.sub}</div>
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>

    <hr class="opacity-25 my-16 w-3/4 mx-auto" />

    <div class="mb-16">
      <h3 class="font-bold text-2xl mb-4"><i>arks.moe</i> archive</h3>
      <ul class="flex flex-col gap-4">
        {
          (
            [
              {
                label: "NGS Lore Timeline",
                sub: "by @RollChroll",
                url: "/ngs-timeline",
              },
							{
								label: 'PSO2 Hashtag Guide',
								sub: 'PSO2 Twitter Hashtag Reference',
								url: '/hashtag-guide'
							}
            ] as Link[]
          ).map((link) => (
            <li class="bg-neutral hover:bg-neutral-focus text-neutral-content transition-all duration-100 hover:scale-[99%]">
              <a class="block p-4" href={link.url}>
                <div class="">{link.label}</div>
                <div class="text-sm font-extralight">{link.sub}</div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="text-center">
      <a href="https://jojobii.moe" class="font-extralight link-hover"
        >by jojobii</a
      >
    </div>
  </div>
</Shell>
